@font-face {
  font-family: "Westonia";
  src: url("/fonts/westonia.woff2") format("woff2"),
       url("/fonts/westonia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}


/* =========================
   VARIABLES
========================= */
:root {
  --color-bg: #f5f1ed;
  --color-bg-rgb: rgb(245, 241, 237);
  --color-bg-soft: #f9f6f3;
  --color-primary: #d1b093;
  --color-accent: #c9a369;
  --color-accent-2: #e88664;
  --color-border: #e6bfae;
  --color-text: #333;
  --color-dark: #1e1e1e;

  --font-main: "Barlow", sans-serif;
  --font-title: "Westonia", cursive;
}

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* =========================
   NAVBAR
========================= */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(var(--color-bg-rgb), 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo img {
  width: 70px;
}

.menu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  display: flex;
  background: rgba(245, 241, 237, 0.95);
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 1px;
  background: var(--color-accent);
  transition: 0.3s;
}

.menu a:hover {
  color: var(--color-accent);
}

.menu a:hover::after {
  width: 100%;
}

.menu a.turnos {
  font-weight: 700;
  color: #e88664;
}

.menu.active {
  opacity: 1;
  pointer-events: all;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social {
  display: flex;
  gap: 10px;
}

.social img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3s;
}

.social img:hover {
  opacity: 0.7;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-accent);
}

/* DESKTOP */
@media (min-width: 768px) {
  .navbar {
    justify-content: center;
    padding: 20px 100px;
  }

  .logo {
    position: absolute;
    left: 20px;
  }

  .right {
    position: absolute;
    right: 20px;
  }

  .menu {
    position: static;
    flex-direction: row;
    justify-content: space-around;
    opacity: 1;
    pointer-events: all;
    background: transparent;
    padding: 0;
  }

  .hamburger {
    display: none;
  }
}


/* =========================
   HERO
========================= */
.hero {
  height: 100vh;
  background-image: url("../src/assets/images/hero.svg");
  background-size: cover;
  background-position: bottom center;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    var(--color-bg) 0%,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(255, 255, 255, 0.2) 70%,
    transparent 100%
  );
}

.hero-overlay {
  position: relative;
  z-index: 2;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 120px 0px 40px;
}

.hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-logo {
  width: 170px;
  padding-top: 120px
}

/* BOTÓN */
.hero-btn {
  background: #c9a369c4;
  border: #ddb67c 3px solid;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  transition: 0.3s;
}

.hero-btn:hover {
  border: var(--color-border) 3px solid;
  background: var(--color-border);
  color: var(--color-text);
}

/* ALTA COSTURA */
.hero-title {
  font-family: var(--font-title);
  color: var(--color-accent);

  font-size: 300px;
  line-height: 0.2;

  width: 100%;
  letter-spacing: 2px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .hero {
    max-height: 570px;
    background-size: 300%;
    background-position: bottom center;
  }

  .hero-title {
    font-size: 38vw;
    align-self: baseline;
    line-height: 0.7;
    padding: 0px;
    margin-top: 70px;
    width: 100%;
  }

  .hero-brand {
    font-size: 1.5rem;
  }
}

/* =========================
   ABOUT
========================= */
.about {
  padding: 80px 0px;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "image"
    "text";
  gap: 40px;
}

.about-title {
  font-family: var(--font-title);
  color: var(--color-accent);
  text-align: center;
  font-size: 100px;
  line-height: 0.1;
  letter-spacing: 2px;
  font-weight: 300;
  grid-area: title;
  margin-top: 120px;
  z-index: 3;
}

.about-text {
  text-align: center;
  grid-area: text;
}

.about-subtitle {
  font-size: 25px;
  padding-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
}

.about-subtitle::after {
  content: "";
  display: block;

  width: 150px; 
  height: 50px;

  margin: 0px auto 0;

  background-image: url("../src/assets/images/linea.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about-text p:not(.about-subtitle) {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.6;
}

.about-text p {
  padding-left: 5px;
  padding-right: 5px;
}


.about-image {
  position: relative;
  display: inline-block;
  justify-content: center;
  grid-area: image;
  z-index: 1;
}


.about-image img {
  width: 100%;
  display: block;
  margin-top: -50px;
}

.about-image::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;

  background: linear-gradient(
    to top,
    var(--color-bg) 0%,
    rgba(245, 241, 237, 0) 60%
  );

  pointer-events: none;
}

/* DESKTOP */
@media (min-width: 768px) {
  .about-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "text image";
  }

  .about-title {
    text-align: right;
    padding-right: 120px;
  }

  .about-subtitle {
  font-size: 25px;
  }

  .about-text p:not(.about-subtitle) {
  font-size: 20px;
  }

  .about-subtitle::after {
    justify-content: center;
    align-items: center;
  }
}

/* =========================
   SERVICES
========================= */
.services {
  padding: 60px 20px;
  text-align: center;
}

.services h2 {
  font-family: var(--font-title);
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  gap: 30px;
}

.service img {
  width: 100%;
  border-radius: 10px;
}

.service p {
  font-size: 0.9rem;
}

/* DESKTOP */
@media (min-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* =========================
   TRANSFORMATION
========================= */
.transformation {
  padding: 60px 20px;
  background: var(--color-bg-soft);
}

.transformation-container {
  display: grid;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.transformation img {
  width: 100%;
  border-radius: 10px;
}

.transformation-text {
  text-align: center;
}

.transformation-text h2 {
  font-family: var(--font-title);
}

.transformation-text button {
  background: var(--color-primary);
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
}

/* DESKTOP */
@media (min-width: 768px) {
  .transformation-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .transformation-text {
    text-align: left;
  }
}

/* =========================
   GALLERY
========================= */
.gallery {
  padding: 60px 20px;
  text-align: center;
}

.gallery h2 {
  font-family: var(--font-title);
  margin-bottom: 20px;
}

.gallery-grid {
  display: grid;
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* =========================
   CONTACT
========================= */
.contact {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.contact-box {
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 40px 20px;
  border: 1px solid var(--color-border);
  border-radius: 120px;
}

.contact-title {
  font-family: var(--font-title);
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-btn {
  background: var(--color-primary);
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  margin-top: 20px;
}

/* =========================
   FOOTER
========================= */
.footer {
  background: var(--color-dark);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.footer-logo {
  width: 60px;
}

.footer-subtitle {
  font-family: var(--font-title);
  color: var(--color-primary);
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
}